*.csv linguist-generated=true
*.html linguist-documentation=true
*.md linguist-documentation=true
*.Rmd linguist-documentation=true
R/man/* linguist-generated=true
packedForest/docs/** linguist-documentation=true