useDynLib(rerf)
#exportPattern("^[[:alpha:]]+")
importFrom(dummies, dummy)
importFrom(compiler, setCompilerOptions, cmpfun)
importFrom(RcppZiggurat, zrnorm)
importFrom(parallel, detectCores, makeCluster, parLapply, parSapply, stopCluster, clusterExport, nextRNGStream)
export(RerF, Predict, OOBPredict, ComputeSimilarity, StrCorr, RandMat, RandMatCat, FeatureImportance, PackForest, PackPredict)
