useDynLib(rerf)
import(Rcpp)
#exportPattern("^[[:alpha:]]+")
importFrom(compiler, setCompilerOptions, cmpfun)
importFrom(RcppZiggurat, zrnorm)
importFrom(parallel, detectCores, makeCluster, parLapply, stopCluster, clusterExport, nextRNGStream)
export(RerF, Predict, OOBPredict, ComputeSimilarity, StrCorr, RandMat, RandMatCat)