useDynLib(rerf)
import(Rcpp)
#exportPattern("^[[:alpha:]]+")
importFrom(compiler, setCompilerOptions, cmpfun)
importFrom(AUC, auc)
importFrom(dummies, dummy)
importFrom(parallel, detectCores, makeCluster, parLapply, stopCluster, clusterExport)
export(rerf, predict, OOBpredict, error_rate)
