useDynLib(rerf)
import(Rcpp)
#exportPattern("^[[:alpha:]]+")
importFrom(compiler, setCompilerOptions, cmpfun)
importFrom(AUC, auc, roc)
importFrom(dummies, dummy)
importFrom(RcppZiggurat, zrnorm)
importFrom(parallel, detectCores, makeCluster, parLapply, stopCluster, clusterExport, nextRNGStream)
export(rerf, Predict, OOBPredict, ErrorRate, ComputeSimilarity)
