useDynLib(rerf)
import(Rcpp)
#exportPattern("^[[:alpha:]]+")
importFrom(compiler, setCompilerOptions, cmpfun)
importFrom(AUC, auc, roc)
importFrom(dummies, dummy)
importFrom(RcppZiggurat, zrnorm)
importFrom(parallel, detectCores, makeCluster, parLapply, stopCluster, clusterExport, nextRNGStream)
import(ggplot2)
import(reshape2)
export(RerF, Predict, OOBPredict, ErrorRate, ComputeSimilarity, RandMat, RandMatCat, GetCatMap, GetFolds)
